<?xml version="1.0" encoding="utf-8"?>
<ReleaseSettings>
    <handleGitHub>true</handleGitHub>
    <handleLudeon>true</handleLudeon>
    <handleDiscord>false</handleDiscord>
    <handleDiscordWebhook>false</handleDiscordWebhook>
    <handlePatreon>false</handlePatreon>
    <showCopyableNotes>true</showCopyableNotes>
    <copyableNotesProgram>notepad.exe</copyableNotesProgram>
    <filteredWhenCopied>.git, \\source, .gitattributes, .gitignore, .idea, .vs, .exe, Octokit</filteredWhenCopied>
    <filteredWhenZipped>PublishedFileId, Deployer, RimworldModReleaseTool, updateinfo, Octokit</filteredWhenZipped>
    <githubProductHeaderValue>RimworldModReleaseTool</githubProductHeaderValue>
    <githubCommitter>Rimworld Mod Release Tool</githubCommitter>
    <githubCommitterEmail>anonymous@gmail.com</githubCommitterEmail>
    <!--
    <modsToRelease>
        <li>
            <workspaceDir></workspaceDir>
            <targetDir></targetDir>
        </li>
    </modsToRelease>
    -->
</ReleaseSettings>